---
import { ModeToggle } from '@components/ModeToggle';
import { Title } from '@components/typo/title';
import Button from '@components/ui/button';
import { Image } from 'astro:assets';
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
  <nav class="flex justify-between items-center py-5 px-16 backdrop:blur-sm">
    <Title as="h2"
      ><a href="/">
        <Image
          width={800}
          height={494}
          src="/icon/long_icon.png"
          alt={SITE_TITLE}
          loading={'eager'}
          class="w-10 sm:w-14"
        />
      </a></Title
    >
    <div class="flex gap-4">
      <HeaderLink href="/"><Button.Label> Home </Button.Label> </HeaderLink>
      <HeaderLink href="/blog"><Button.Label> Blog </Button.Label> </HeaderLink>
      <HeaderLink href="/project"><Button.Label> Project </Button.Label> </HeaderLink>
    </div>
    <ModeToggle client:load />
  </nav>
</header>
